<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles/profil.css">
  <title>Talent's Platform</title>
</head>
<body>

  <header>
    <h1>Welcome, </h1>
  </header>

  <section class="numbers-section">
    <div class="number-card">
      <h2>XP</h2>
      <p>123</p>
    </div>
    
    <div class="number-card">
      <h2>Audits</h2>
      <p>456</p>
    </div>
    <div class="number-card">
        <h2>Projects done</h2>
        <p>123</p>
      </div>
  </section>

  <section class="graphs-section">
    <div class="graph-card">
      <h2>Graphique 1</h2>
      <pie-chart data="10;90"></pie-chart>
      <svg></svg>
      <!-- Inclure ici le code pour le premier graphique -->
    </div>

   
  </section>
  <script src="../js/profil.js"></script>
  

</body>
</html>
